<p class="">Ask your coach anything:</p>
<form class="input-group container" action="/answer" data-turbo="false">
  <input class="form-control" type="text" name="question">
  <input class="input-group-text btn btn-primary" type="submit" value="Ask!">
</form>
